<div class="is-centered is-multiline has-text-centered">
    <h1 class="title is-3">Login</h1>

    <div class="field">
        <label class="label">with</label>
        <div class="control">
            <div class="select">
                <select *ngIf="users$ | async as users" [(ngModel)]="selectedUser">
                    <option
                        *ngFor="let user of users; let i = index"
                        [ngValue]="user"
                        [selected]="i === 0"
                    >
                        {{ user.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <a class="button is-primary" (click)="login()"> Login </a>
    </div>
</div>
